$grey: hsl(0, 0%, 13%);

.inventory {
  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba($grey, 0.07), 0 5px 15px rgba($grey, 0.1);
  }

  &__name {
    font-weight: 900;
  }
}
